---
title: "Stop Registration Spam With Identity Pre-Verification"
url: "https://fusionauth.io/blog/identity-pre-verification"
date: "Fri, 06 Mar 2026 00:00:00 GMT"
author: "Aaron Ritter"
feed_url: "https://fusionauth.io/blog/feed.xml"
---
Eliminate 'zombie' accounts and block registration spam. Learn how to use FusionAuth Identity Pre-Verification to verify Users via Email or Phone before they are created.
